/* Base styles */
* {
  box-sizing: border-box;
}

form {
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

form h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
}


/* Style inputs with type="text", select elements and textareas */
input[type=password],
input[type=text],
input[type=numero],
input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=password]:focus,
input[type=text]:focus,
input[type=numero]:focus,
input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/* Style the submit button */
.btn-cancel,
.btn-register {
  background-color: #4cafac;
  color: white;
  padding: 14px 20px;
  margin: 14px 0;
  border-radius: 5%;
  cursor: pointer;
  width: 40%;
}

/* Extra styles for the cancel button */
.btn-cancel {
  background-color: #f44336;
}

button:hover {
  opacity: 0.5;
}

/* Add a background color and some padding around the form */
img {
  width: 90px;
  height: 50px;
  margin: 10px;
}

/* Media queries */
@media screen and (min-width: 599px) {
  form {
    width: 50%;
  }
}

@media screen and (min-width: 899px) {
  form {
    width: 40%;
  }

  .btn-container {
    flex-direction: row;
  }

  .btn-cancel,
  .btn-register {
    margin: 14px 10px;
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 30%;
  }
}