* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */


h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  padding-top: 15px;
}

/* Grid container styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #004263;
  justify-items: center;
  margin-top: 30px;
}

/* Grid item styles */
.grid-item {
  background-color: rgba(241, 241, 241, 0.8);
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Image styles */
img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 200px;
  margin: 0 auto;
  padding-bottom: 20px;

}

/* Media queries for tablet screens */
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 30px;
  }
}

/* Media queries for laptop screens */
@media screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
  }
}

/* Media queries for large desktop screens */
@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
  }
}